extends ../layouts/default

block content
	.container: .jumbotron
		h1 Добро пожаловать
		//- if !user
		a(href='/join').btn.btn-lg.btn-primary Зарегистрироваться
		div.btn-group.btn-group-lg
				if user
					button.btn.btn-secondary: a(href='/me')
							img(src=(user.driverPhoto.exists ? user._.driverPhoto.thumbnail(15,15) : user.avatarUrl || '/images/avatar.png'), width=15).img-circle
							=user.name.first
					button.btn.btn-secondary: a(href='/signout')
						span.hidden-md Sign out
				else
					li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in

	block content
		.container: .jumbotron
			h1 Узнать цену
			if form.error
				.flash-messages
					.alert.alert-danger
						div!= form.error.message || form.error

						//- Field Errors
						if form.error.errors && !_.isEmpty(form.error.errors)
							ul
								each error, key in form.error.errors
									li!= error.msg

			form(method='post', enctype='multipart/form-data').auth-form
				input(type='hidden', name='action', value='guest.send.request')
				.form-groups
					.form-group
						label(for='guestName') Имя
						input(type='text', name='guestName',  required).form-control.form-control--first
					.form-group
						label(for='guestEmail') Email
						input(type='email', name='guestEmail', required).form-control
					.form-group
						label(for='guestCount') Количество пассажиров
						input(type='number', name='guestCount', required).form-control
					.form-group
						label(for='guestFrom') Отправление из
						input(type='text', name='guestFrom', required).form-control
					.form-group
						label(for='guestTo') Прибытие в
						input(type='text', name='guestTo', required).form-control
					.form-group
						label(for='guestDate') Дата трансфера
						input(type='date', name='guestDate', required).form-control
					.form-group
						label(for='guestTime') Время трансфера
						input(type='time', name='guestTime',  required).form-control
					.form-group
						label(for='guestComment') Ваш комментарий
						input(type='text', name='guestComment', placeholder='Ваши пожелания, телефон или номер рейса').form-control
				button(type='submit').btn.btn-block.btn-primary.btn-submit Отправить

