extends ../layouts/default

block content
	.container: .jumbotron
		+flash-messages(messages)
		if stateOfRequest === 'open'
			h1 Оцените водителя!
		else if stateOfRequest === 'invalid'
			p ссылка не действительна
		else
			p ошибка