extends ../../layouts/default

block content
	.container: .jumbotron
		.page-intro
			h1 Сбросить пароль
			p.lead Пожалуйста введите ваш пароль дважды
		.page-content
			+flash-messages(messages)
			form(method='post', novalidate).auth-form
				input(type='hidden', name='action', value='reset-password')
				.form-groups
					.form-group
						label(for='password').sr-only Новый пароль
						input(type='password', name='password', id='password', placeholder='Новый пароль').form-control.form-control--first
					.form-group
						label(for='password_confirm').sr-only Подтвердить пароль
						input(type='password', name='password_confirm', id='password_confirm', placeholder='Подтвердить пароль').form-control.form-control--last
				button(type='submit').btn.btn-block.btn-primary Обновить пароль
			p.text-center.text-muted.mt-3
				| В этот раз точно вспомнил,
				a(href='/signin')  войти

block js
	script.
		var $form = $('.auth-form');
		var $submit = $form.find('.btn');

		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});

		$form.find("input[type!='hidden']").first().focus();
