extends layouts/base

block content
	p Здравствуйте #{user.name.first},
	p Недавно Вы запросили сброс пароля на сайте #{host}.
	p Пожалуйста, установите новый пароль, перейдя по ссылке ниже:
	a(href=host + link)= host + link
