extends layouts/base

block content
	p #{t('mails.hi', {recipient: user.name.first}, language)},
	p #{t('mails.password.title', {host}, language)}
	p #{t('mails.password.setNew', {}, language)}
	a(href=host + link)= host + link
