extends layouts/basecard
block content
	div.padding1rem
		p#cardP Добрый день, #{result.guest.name}, как прошла Ваша поездка?
		div#bodyCard.padding1rem
			h2 Пожалуйста, оставьте отзыв о Вашей поездке.
			p#cardP Для этого перейдите на сайт, нажав на кнопку оценить.
		div.linkContainer
			a(href=host + '/request/' + result._id + '/rate?s=' + result.assignedRatingTime).marginAuto
				button.bttn оценить
