extends ../layouts/default

block intro
	+flash-messages(messages)

block content
	.container: .jumbotron
		if stateOfRequest === 'success'
			h1 Спасибо!
			p Ваш отклик отправлен водителю.
			p В ближайшее время Вам на почту придет подтверждение трансфера с деталями.
		else if stateOfRequest === 'process'
			.page-content
				h1 Поехали!
				p Подтвердите Ваш выбор, указав номер телефона для того, чтобы водитель мог связаться с вами в день поездки.
				form(method='post').auth-form
					input(type='hidden', name='action', value='submit.request.by.user')
					.form-groups
						.form-group
							label(for='guestPhone').sr-only Номер телефона
							input(type='text', name='guestPhone', placeholder='Номер телефона', required).form-control
					button(type='submit').btn.btn-block.btn-primary Отправить
		else if stateOfRequest === 'invalid'
			p ссылка не действительна
		else
			p ошибка