doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, viewport-fit=cover")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'VETTURA'
		link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
		link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
		meta(name="msapplication-config" content="/browserconfig.xml")
		meta(name="theme-color" content="#ffffff")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		//- link(rel="canonical" href="/")

		//-vfacebook
		meta(property="og:url" content="https://www.vettura.eu")
		meta(property="og:type" content="website")
		meta(property="og:title" content="VETTURA")
		meta(property="og:description" content="Закажите трансфер у нас. Выберите авто, водителя и наслаждайтесь поездкой. По лучшей цене.")
		meta(property="og:image" content="https://res.cloudinary.com/dqbo8zk4k/image/upload/v1529848579/b9cjUEoHknk.jpg")
		//- change img

		meta(name="description" content="Закажите трансфер у нас. Выберите авто, водителя и наслаждайтесь поездкой. По лучшей цене.")

		if env === 'development'
			script(src="https://localhost:3001/js/lib.base.js")
			script(src="https://localhost:3001/js/lib.glyphs.js")
			script(src="https://localhost:3001/js/app.drive.js")
			link(href="https://localhost:3001/css/lib.glyphs.css", rel="stylesheet")
			link(rel="stylesheet" href="https://localhost:3001/css/app.drive.css")

		if env === 'production'
			script(src="/js/lib.otherbrowser.js")
			script(src="/js/lib.base.js")
			script(src="/js/lib.glyphs.js")
			script(src="/js/app.drive.js")
			link(href="/css/lib.glyphs.css", rel="stylesheet")
			link(rel="stylesheet" href="/css/app.drive.css")

		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet")
		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]
		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		style(id="stylesheet")
		div(id="app")

		block js
			-const lang = language;
			script.
				(function () {
					entryApplication({
						isMobile: false,
						language: '#{lang}'
					});
				})();
