extends ../layouts/default

block content
	.container: .jumbotron
		h1 Добро пожаловать
		div.btn-group.btn-group-lg
			if user
				a(href='/me').btn.btn-secondary
						img(src=(user.driverPhoto.exists ? user._.driverPhoto.thumbnail(27,27) : user.avatarUrl || '/images/avatar.png'), width=27).img-circle
						=user.name.first
				a(href='/signout').btn.btn-secondary
					span.hidden-md Выйти
					i.fas.fa-sign-out-alt.pl-1
			else
				a(href='/signin', data-from=page.path, data-initial='signin').btn.btn-secondary Войти
				a(href='/join').btn.btn-secondary Зарегистрироваться

	block content
		.container: .jumbotron
			+flash-messages(messages)
			h1 Узнать цену
			if form.error
				.flash-messages
					.alert.alert-danger
						div!= form.error.message || form.error

						//- Field Errors
						if form.error.errors && !_.isEmpty(form.error.errors)
							ul
								each error, key in form.error.errors
									li!= error.msg

			form(method='post', enctype='multipart/form-data').auth-form
				input(type='hidden', name='action', value='guest.send.request')
				.form-groups
					.form-group
						label(for='guestName') Имя
						input(type='text', name='guestName',  required).form-control.form-control--first
					.form-group
						label(for='guestEmail') Email
						input(type='email', name='guestEmail', required).form-control
					.form-group
						label(for='guestCount') Количество пассажиров
						input(type='number', name='guestCount', required).form-control
					.form-group
						label(for='guestFrom') Отправление из
						input(type='text', name='guestFrom', required).form-control
					.form-group
						label(for='guestTo') Прибытие в
						input(type='text', name='guestTo', required).form-control
					.form-group
						label(for='guestDate') Дата трансфера
						input(type='date', name='guestDate', required).form-control
					.form-group
						label(for='guestTime') Время трансфера
						input(type='time', name='guestTime',  required).form-control
					.form-group
						label(for='guestComment') Ваш комментарий
						input(type='text', name='guestComment', placeholder='Ваши пожелания, телефон или номер рейса').form-control
				button(type='submit').btn.btn-block.btn-primary.btn-submit Отправить

	block content
		div(id="app")

block js
	script.
		(function () {
			entryOperatorDesktop({
				isMobile: true
			});
		})();

