extends ../../layouts/default

block content
	.container-xs
		.page-intro
			h1 Забыли пароль?
			p.lead Нет проблем, мы отправим вам ссылку для сброса пароля.
		.page-content
			+flash-messages(messages)
			+auth-forms({ modal: false, initial: 'password' })
