//-
	Forms
	------------------------------

	Args
	* modal  - boolean
	* accepts "signin"  | "password"
	* from - specify a page

include form-password
include form-signin

mixin auth-forms(args)
	if args.initial == 'signin'
		+form-signin(args)
	else
		+form-password(args)

